{% load bootstrap3 %} {% bootstrap_css %} {% bootstrap_javascript %}


<div class="container">
  <div class="row">
    <div class="col-xs-5 col-sm-6 col-lg-4 ">



      <form class="" action="" method="post">
        <legend>Login</legend>
        {% csrf_token %} {% bootstrap_form form %}


        <input type="submit" class="btn btn-primary" name="" value="Submit">
        <a href="{% url "signup" %}"><input type="button" class="btn btn-primary" value="SignUp"></a>
      </form>


    </div>

  </div>

</div>
