{% extends "teams/layout.html"%} {% block content %}
<style>
  table {
    width: 100%;
  }

  th,
  td {
    height: 50px;
    text-align: left;
    font-size: 25px;
    color: black;
    background-color:#ffffff;
  }
</style>

<ul>
  <h2>{{user}}'s Profile</h2>
  <br><br>

  <table style="width:50%" class="table table-striped">
    {% for profile in profile %}

    <tr>
      <th>Name</th>
      <td>{{user.username}}</td>
    </tr>
    <tr>
      <th>Student Number</th>
      <td>{{user.profile.student_number}}</td>
    </tr>
    <tr>
      <th>Student Email</th>
      <td>{{user.email}}</td>
    </tr>
    <tr>
      <th>Team Number</th>
      <td><a  href="http://127.0.0.1:8000/accounts/students/teams/{{profile.team_number}}/">{{user.profile.team_number}}</a></td>

    </tr>

    {% endfor %}
  </table>
  <a  href="{% url "update" %}"><input type="button" class="btn btn-primary" value="Update Profile"></a>
</ul>
{%endblock%}
