{% extends "project/layout.html" %} {% block content %}
<table>
  <div class="continer">
    <div class="row">
      <div class="col-sm-12">

        <form class="" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <table class="table table-hover table-bordered">
            {{form.as_table}}
          </table>
          <input type="submit" class="btn btn-primary" name="" value="Submit">
        </form>
      </div>

    </div>

  </div>

  {% endblock %}
