{% extends "project/layout.html" %}

{%block title%}
  {{post.title}}

{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
        <div class="col-sm-12">

        <h2>{{post.title}}</h2>
        {{post.content|linebreaks}}

        <hr/>
        <h3>File</h3>
        {% if post.document %}
        <a href="{{ post.document.url }}" class ="btn btn-default">download</a>
        {% endif %}

        <hr/>
        <h3><a href="{% url "project:comment_new" pk=post.pk %}" class ="btn btn-primary">  Apply</a></h3>

        <ul>

          {% for comment in post.comment_set.all %}
          {% if user.is_authenticated or comment.approved_comment %}
          <li>
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url "project:comment_remove" pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
              
            {% endif %}
            {{comment.message}}
            {% if comment.document %}
            <a href="{{ comment.document.url }}" class ="btn btn-default">File</a>
            {% endif %}
            <small>{{comment.author}}</small>
            <small>at {{ comment.updated_at }}</small>


          </li>
          {% endif %}
          {% endfor %}
        </ul>


          <hr/>
          <a href="{% url "project:post_list" %}" class ="btn btn-primary">List</a>
          <a href="{% url "project:post_edit" post.id %}" class ="btn btn-default">Edit</a>
          <a href="{% url "project:post_delete" post.id %}" class ="btn btn-default">Delete</a>
<!--
          <hr/>
          {% for comment in post.comments.all %}
            {% if user.is_authenticated or comment.approved_comment %}
            <div class="comment">
              <div class="date">
                {{ comment.created_date }}
                {% if not comment.approved_comment %}
                  <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                  <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                {% endif %}
            </div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
        {% endif %}
    {% empty %}
    <p>No comments here yet :(</p>
    {% endfor %}
-->

      </div>

    </div>

  </div>


{% endblock %}
