{% extends "project/layout.html" %}

{% load bootstrap3 staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Capstone Project</h1>
            <p>QUT - IFB</p>
            <p>
              <a class="btn btn-lg btn-primary" href="/project/">
                      Project &raquo;
                  </a>
              <a class="btn btn-lg btn-primary" href="/assignment/">
                      Assignment &raquo;
                      </a>
            </p>
        </div>

        <div class="row">
            <div class="col-sm-12">
            
                <a href="{% url "project:post_new" %}" class = "btn btn-primary pull-right">New Post</a>

                <p>
                    <form action="" method="get">
                        <input type="text" name="q" value="{{ q }}" />
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </form>
                </p>

                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>title</th>
                            <th>author</th>
                            <th>updated_at</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in post_list %}
                            <tr>
                                <td>{{ post.id }}</td>
                                <td><a href="{% url "project:post_detail" post.id %}">{{ post.title }}</a></td>
                                <td><small>by {{ post.user }}</small></td>
                                <td><small>at {{ post.updated_at }}</small></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                  <div class="text-center">
                      {% bootstrap_pagination page_obj %}
                  </div>
            </div>
        </div>

    </div>


{% endblock %}
