{% extends "ifb/layout.html" %}

{% load bootstrap3 staticfiles %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>Capstone Project</h1>
            <p>IFB398 & 399 Web</p>
            <p>
                <a class="btn btn-lg btn-primary" href="https://qutvirtual4.qut.edu.au">
                        IFB398 &raquo;
                    </a>
                <a class="btn btn-lg btn-primary" href="https://blackboard.qut.edu.au">
                        IFB399 &raquo;
                        </a>
            </p>
        </div>


    </div>


{% endblock %}
